<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="DevExpress" value="https://nuget.devexpress.com/api" />
  </packageSources>
  <packageSourceCredentials>
    <DevExpress>
      <add key="Username" value="token" />
      <!-- DevExpress hesabınızdan API Key alın: https://www.devexpress.com/ClientCenter/DownloadManager/ -->
      <add key="ClearTextPassword" value="YOUR_DEVEXPRESS_API_KEY" />
    </DevExpress>
  </packageSourceCredentials>
</configuration>
